img {
    width: 200px;
    height: 200px;
    border-radius: 5%;
}

.all-cards {
    list-style: none;
    display: flex;
    margin: 0px 5px 0px 5px;
    justify-content: space-between;
    overflow-x: scroll;
}

.dose-list {
    list-style: none;
}

.god-container {
    margin: 100px 0px 0px 0px;
}